html,
body {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	margin-right: 8px;
	border-left: 3px solid black;
	border-right: 3px solid black;
	background-color: bisque;
}

main {
	flex: 1;
	overflow: auto;
}

main>.container-fluid {
	padding: 60px 15px 60px;
}

header>div#navbar-top-e {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1130;
	box-sizing: border-box;
	height: 11px;
	margin-left: 8px;
	margin-right: 8px;
	border-bottom: 3px solid black;
	background-color: bisque;
}

footer>div#navbar-bottom-e {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1131;
	box-sizing: border-box;
	height: 11px;
	margin-left: 8px;
	margin-right: 8px;
	border-top: 3px solid black;
	background-color: bisque;
}

.fixed-top {
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 11px;
}

.fixed-bottom {
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 11px;
}

/* desktop view */
@media all and (min-width: 992px) {
	.dropdown-menu li {
		position: relative;
	}

	.dropdown-menu .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}

	.dropdown-menu .submenu-left {
		right: 100%;
		left: auto;
	}

	.dropdown-menu .submenu-up {
		left: 100%;
		right: auto;
		bottom: -7px;
	}

	.dropdown-menu>li:hover>.submenu,
	.dropdown-menu>li:hover>.submenu-left,
	.dropdown-menu>li:hover>.submenu-up {
		display: block;
	}
}

/* small devices */
@media (max-width: 991px) {
	.dropdown-menu .dropdown-menu {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: .5rem;
	}
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.dropdown-item:hover {
	background-color: #dc3545;
}

.background-light,
li>.dropdown-menu {
	background-color: #fffae5 !important;
}
.foreground-light,
.form-control,
input,
textarea {
	color: bisque!important;
}

.form-signin-container {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px black;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: black;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}